---
label: 'Grants'
---
<h2>{% trans %}Define Grant{% endtrans %}</h2>
<ol>
  <li>{% trans %}Enter a name and description for your grant.{% endtrans %}</li>
  <li>{% trans %}Enter effective dates for your grant.{% endtrans %}</li>
  <li>
    {% trans %}Enter the security context information.{% endtrans %}
    <p>{% trans %}The security context defines the circumstances in which the grant is active.{% endtrans %}</p>
    <p>{% trans %}For Grantee, you can select a single user, a role, or global (all users and roles).{% endtrans %}</p>
  </li>
  <li>{% trans %}For Operating Unit, specify an operating unit if you want your grant to apply to a specific one.{% endtrans %}</li>
  <li>{% trans %}For Responsibility, specify a responsibility if you want your grant to apply to a specific one.{% endtrans %}</li>
  <li>{% trans %}Enter the Data Security information if you are creating a data security policy for an object. The grant applies to the object you specify.{% endtrans %}</li>
</ol>
