{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="card">
    <div class="card-content">
      {% for value in content %}
        <p>{{value}}</p>
      {% endfor %}
    </div>
  </div>
</div>
