{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <span><b>回访记录:</b><h6>[{{ content.add_link }}]</h6></span>
  <ul>
    {% for value in content.data %}
      <li><p>{{ value.detail }}<span class="text-red">[{{ value.created }}]</span></p></li>
    {% endfor %}
  </ul>
</div>
