{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <ul>
    {% for value in content.data %}
      <li>{{ value.name }}</li>
    {% endfor %}
  </ul>
</div>
