<div class="new-common-detail" style="background: rgb(255, 255, 255);">
  <div class="common-item" style="flex: 1 1 0%;">
    <div class="common-top">
      <div class="top-title">文书目录</div>
    </div>
    <div class="common-content" style="padding: 0px;">
      <div class="base-folder">
        <div class="left-wrap"><i class="iconfont icon-xiangxiangmu folder-icon co-999"
                                  style="color: rgb(153, 153, 153);"></i> <span>全部</span></div>
        <div class="right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                   aria-describedby="el-tooltip-1078" tabindex="0" style="margin-right: 20px;"></i>
        </div>
      </div>
      <div role="tree" class="el-tree el-tree--highlight-current"
           style="margin-bottom: 10px; padding-bottom: 20px; padding-left: 20px;">
        <div role="treeitem" tabindex="0" aria-disabled="" draggable="true"
             class="el-tree-node is-current is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                财产保全
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-1216" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-2401" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-5789" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                法院程序文件
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-8643" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-8642" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-8827" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                判决材料
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-9595" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-846" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-1654" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                其它
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-2211" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-1912" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-7113" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                诉讼法律文书
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-2533" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-8090" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-9078" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="is-leaf el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                委托合同
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-5833" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-146" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-2500" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div>
        <div role="treeitem" tabindex="-1" aria-disabled="" draggable="true"
             class="el-tree-node is-focusable is-checked" aria-checked="true">
          <div class="el-tree-node__content" style="padding-left: 0px;"><span
              class="el-tree-node__expand-icon el-icon-caret-right"></span><!----><!---->
            <div class="custom-tree-node">
              <div class="folder-name"><img src="/static/images/red-file.png" alt="">
                证据材料
              </div>
              <div class="folder-right-wrap"><i class="iconfont icon-tianjiawenjianjia el-tooltip item"
                                                aria-describedby="el-tooltip-1018" tabindex="0"></i> <i
                  class="iconfont icon-bianji5 el-tooltip item" aria-describedby="el-tooltip-1630" tabindex="0"></i> <i
                  class="iconfont icon-shanchu2 el-tooltip item" aria-describedby="el-tooltip-1552" tabindex="0"></i>
              </div>
            </div>
          </div><!----></div><!---->
        <div class="el-tree__drop-indicator" style="display: none;"></div>
      </div>
      <div class="el-loading-mask" style="display: none;">
        <div class="el-loading-spinner">
          <svg viewBox="25 25 50 50" class="circular">
            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
          </svg><!----></div>
      </div>
    </div>
  </div>
  <div class="common-item" style="flex: 3 1 0%;">
    <div class="new-file-top">
      <div class="file-top-operate" style="flex: 1 1 0%; display: flex; justify-content: space-between;">
        <div class="share-search el-input el-input--medium el-input--prefix el-input--suffix"
             style="width: 500px; margin-right: 20px; margin-left: 20px;"><!----><input type="text" autocomplete="off"
                                                                                        placeholder="请输入文件名称模糊搜索"
                                                                                        class="el-input__inner"><span
            class="el-input__prefix"><i class="el-input__icon el-icon-search cursor"></i><!----></span><!----><!---->
        </div>
        <div class="right-icon"><span><i class="iconfont icon-paixu type-icon el-tooltip item el-popover__reference"
                                         aria-describedby="el-popover-8479" tabindex="0"
                                         style="margin-right: 20px; color: rgb(153, 153, 153);"></i></span> <i
            class="iconfont icon-gengduo-2 type-icon el-tooltip item" slot="reference"
            aria-describedby="el-tooltip-3554" tabindex="0"></i> <!----></div>
      </div>
    </div>
    <div class="new-file-path">
      <div aria-label="Breadcrumb" role="navigation" class="el-breadcrumb" style="flex: 1 1 0%;"><span
          class="el-breadcrumb__item co-999" aria-current="page"><span role="link" class="el-breadcrumb__inner"><span
              class="cursor">全部</span> <!----> <!----></span><i
            class="el-breadcrumb__separator el-icon-arrow-right"></i></span><span
          class="el-breadcrumb__item co-999"><span role="link" class="el-breadcrumb__inner"><!---->
            <!----> <span>财产保全</span></span><i class="el-breadcrumb__separator el-icon-arrow-right"></i></span></div>
    </div>
    <div class="common-content file-table file-commom-content" style="padding: 0px;">
      <div class="detail-file-table">
        <div class="file-header">
          <div class="select"><label role="checkbox" class="el-checkbox"><span aria-checked="mixed"
                                                                               class="el-checkbox__input"><span
                  class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="true"
                                                           class="el-checkbox__original" value=""></span><!----></label>
          </div>
          <div class="file-name cursor">
            文件名
            <i class="iconfont icon-zelvxuanzefeiyongzhengsanjiaoxingzhichi icon-top cursor text-info"
               style="left: 50px;"></i> <i
              class="iconfont icon-zelvxuanzefeiyongdaosanjiaoxingfandui icon-bottom cursor" style="left: 50px;"></i>
          </div>
        </div>
        <div class="file-content">
          <div class="content-right"></div>
        </div>
        <div class="file-content">
          <div role="group" aria-label="checkbox-group" class="el-checkbox-group content-left"><label role="checkbox"
                                                                                                      class="el-checkbox"><span
                aria-checked="mixed" class="el-checkbox__input"><span class="el-checkbox__inner"></span><input
                  type="checkbox" aria-hidden="true" class="el-checkbox__original" value="134oJExv"></span><span
                class="el-checkbox__label">134oJExv</span></label></div>
          <div class="content-right">
            <div class="content-item item-even">
              <div class="item-name text-ellipsis" style="padding-left: 50px;"><i
                  class="iconfont file-blue icon-pdf1"></i>
                <div class="file-name-wrap text-ellipsis">
                  <div title="20170606-API-first Web服务器.pdf" class="file-name text-ellipsis">20170606-API-first
                    Web服务器.pdf
                  </div>
                  <div class="file-time">2020-12-21</div>
                </div>
              </div>
              <div class="item-user text-ellipsis">上传人：段林</div>
              <span><div role="tooltip" id="el-popover-9156" aria-hidden="true" class="el-popover el-popper file-popper"
                         tabindex="0" style="display: none;"><!----><div class="setting-more"><div class="more-item"><i
                        class="iconfont icon-yidong"></i> <span>移动</span></div> <div class="more-line"></div> <div
                      class="more-item"><i class="iconfont icon-bianji6"></i> <span>修改文件名</span></div> <div
                      class="more-line"></div> <div class="more-item"><i
                        class="iconfont icon-xiazai5"></i> <span>下载</span></div> <div class="more-line"></div> <div
                      class="more-item"><i class="iconfont icon-shanchu2"></i> <span>删除</span></div></div> </div><i
                  class="iconfont icon-huabangengduo el-popover__reference" aria-describedby="el-popover-9156"
                  tabindex="0"></i></span></div>
          </div>
        </div> <!---->
        <div class="el-loading-mask" style="display: none;">
          <div class="el-loading-spinner">
            <svg viewBox="25 25 50 50" class="circular">
              <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg><!----></div>
        </div>
      </div> <!---->
      <div class="el-dialog__wrapper file-preview" style="display: none;">
        <div role="dialog" aria-modal="true" aria-label="文档预览 - 「」" class="el-dialog" style="margin-top: 15vh;">
          <div class="el-dialog__header"><span class="el-dialog__title">文档预览 - 「」</span>
            <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i
                class="el-dialog__close el-icon el-icon-close"></i></button>
          </div><!----><!----></div>
      </div> <!----></div>
  </div>
  <div class="common-item detail-file-item" style="width: 285px; border-right: none;">
    <div>
      <div>
        <div tabindex="0" class="el-upload el-upload--text">
          <button type="button"
                  class="el-button file-item-btn mg-top-40 mg-left-10 el-button--primary el-button--medium is-round">
            <!----><!----><span>上传</span></button>
          <input type="file" name="file" multiple="multiple"
                 accept=".zip,.rar,.jpg,.jpeg,.bmp,.png,.7z,.doc,.docx,.rtf,.txt,.xls,.xlsx,.pdf,.mp3,.m4a,.ppt,.pptx"
                 class="el-upload__input"></div>
      </div>
      <span><div role="tooltip" id="el-popover-8080" aria-hidden="true" class="el-popover el-popper file-popper"
                 tabindex="0" style="display: none;"><!----><div class="file-create-wrap"><div class="create-item"><i
                class="iconfont icon-w"></i> <span class="create-txt">新建文字</span></div> <div class="create-item"><i
                class="iconfont icon-s"></i> <span class="create-txt">新建表格</span></div> <div class="create-item"><i
                class="iconfont icon-p"></i> <span class="create-txt">新建演示</span></div></div> </div><button
          type="button"
          class="el-button file-item-btn file-item-btn-border mg-top-10 mg-left-10 el-button--default el-button--medium is-plain is-round el-popover__reference"
          aria-describedby="el-popover-8080" tabindex="0"><!----><!----><span>新建</span></button></span>
      <button type="button"
              class="el-button file-item-btn file-item-btn-border mg-top-10 mg-left-10 el-button--default el-button--medium is-plain is-round">
        <!----><!----><span>从模板创建</span></button>
      <div class="batch-wrap">
        <div class="batch-item cursor-not-allowed op-40"><i class="iconfont icon-yidong"></i> <span>批量移动</span></div>
        <div class="batch-item cursor-not-allowed op-40"><i class="iconfont icon-xiazai5"></i> <span>批量下载</span></div>
        <div class="batch-item cursor-not-allowed op-40"><i class="iconfont icon-shanchu2"></i> <span>批量删除</span></div>
      </div>
      <div class="tip-txt pd-top-30">提示：</div>
      <div class="tip-txt">点击文件名可<span class="preview-txt">在线预览或编辑</span></div>
    </div>
  </div>
</div>
