{#
/**
 * @file dsi_attachment_directory.html.twig
 * Default theme implementation to present Attachment directory data.
 *
 * This template is used when viewing Attachment directory pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dsi_attachment_directory()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dsi_attachment_directory') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
