{#
/**
 * @file user_responsibility.html.twig
 * Default theme implementation to present User responsibility data.
 *
 * This template is used when viewing User responsibility pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_responsibility()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_responsibility') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
