{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{%
  set li_classes = [
  'breadcrumb-item',
  ]
%}
{% if breadcrumb %}
<ol class="breadcrumbs mb-0">
  {% for item in breadcrumb %}
  <li {{ attributes.addClass(li_classes) }}>
    <a href="{{ item.url }}">{{ item.text }}</a>
  </li>
  {% endfor %}
</ol>
{% endif %}
