
<div class="card__content-wrapper">
  <div class="card__content">
    {{ content.date }}
  </div>
  <div class="card__footer">
    <i class="fa fa-print fa-fw fa-2x"></i>打印
    <i class="fa fa-share fa-fw fa-2x"></i>分享
  </div>
</div>
