{# TODO#}
<div class="brand-sidebar" style="width: 90px">
  <h1 class="logo-wrapper">
    <a class="brand-logo darken-1" href="{{ path('<front>') }}">
      <img class="hide-on-med-and-down" src="/modules/dsi/themes/materialize/logo.mni.png" alt="materialize logo">
      <img class="show-on-medium-and-down hide-on-med-and-up" src="/modules/dsi/themes/materialize/logo.mni.png" alt="{{ 'Dsi' }}">
      <span class="logo-text hide-on-med-and-down">{{ content.site_name }}</span>
    </a>
    <a class="navbar-toggler" href="#"><i class="material-icons">radio_button_unchecked</i></a>
  </h1>
</div>