{% extends "block.html.twig" %}

{% block content %}
  <div class="footer-copyright">
    <div class="container"><span>&copy; 2020          <a href="http://dsi" target="_blank">DSI</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="https://dsi.com/">DSI</a></span></div>
  </div>
{% endblock %}
