{#
/**
 * @file person_email.html.twig
 * Default theme implementation to present Person email data.
 *
 * This template is used when viewing Person email pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_person_email()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('person_email') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
