{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <p>客户简述{{ content.add_link }}</p>
  <p>{{ content.intro }}</p>
</div>
