
{{ attach_library('materialize/materialize.login')}}
    <div class="row">
      <div class="col s12">
        <div class="container">
          <div id="login-page" class="row">
            <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
              {{ page.content }}
            </div>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>