table tr {
  border-bottom: transparent;
}

table {
  margin-bottom: 0;
}

.js-drupal-fullcalendar .fc-button-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.js-drupal-fullcalendar .fc-button-group .fc-button-primary {
  border-left-color: #1c75c7;
}
.js-drupal-fullcalendar .fc-button-group .fc-button-active {
  color: #fff;
  background-color: #1c75c7;
  border-color: #1c75c7;
}
.fc-button-group {
  /*background-color: red;*/
}
.fc .fc-toolbar.fc-header-toolbar .fc-button-group .fc-button {
  background-color: inherit;
}

.fc .fc-toolbar.fc-header-toolbar .fc-button-group .fc-button {
  background-color : #348fe2;
  color : #fff;
}

/*日历其余button */
.fc .fc-toolbar.fc-header-toolbar .fc-button-group .fc-button:focus, .fc .fc-toolbar.fc-header-toolbar .fc-button-group .fc-button:hover{
  color: #fff;
  background-color : #1c75c7;
}

.fc .fc-toolbar.fc-header-toolbar .fc-button-group .fc-button .fc-icon {
  color: #fff;
}


/*日历Today button*/
.fc-toolbar>*>:not(:first-child) {
  color: #fff;
  background-color : #1c75c7;
  font-weight: 600;
  height: 30.77px;
  width: 58.92px;
  outline:none;
  border-color: transparent;
}
.fc-button-primary:disabled {
  color: #fff;
  background-color: #348fe2;
  border-color: #348fe2;
  font-weight: 600;
  height: auto;
  padding: 6px 12px;
}
.fc-today-button:hover{
  color: #fff;
  background-color : #1c75c7;
}
.fc-toolbar>*>:not(:first-child):active {
  background-color: #1c75c7;
  border: none;
}
.fc-button-active{
  color:#fff;
  background-color:#1c75c7;
  border-color:#1c75c7;
}
