
/*Override ul style */

ul {
  margin: 0
}


/**
 * Override:
 * core/modules/system/css/components/tabledrag.module.css
 */
a.tabledrag-handle .handle {
  width: 21px;
  height: 21px;
}


/* Greater than ore/themes/claro/css/components/jquery.ui/theme.css */
.z-index-1360 {
  z-index: 1360 !important;
}

a {
  color: #000000;
}

.fc-header-toolbar {
  display: inherit;
}
.dropdown-menu {
  min-width: 300px;
}

.navbar-user {
  line-height: 50px;
}

/*// 临时解决方案 -- client 列表搜索*/
form.views-exposed-form fieldset:not(.fieldgroup) {
  margin: 0;
  padding: 0;
}

.view-content .dropdown-menu.dropdown-menu-right {
  min-width: 100px!important;
}

