---
label: Permission Sets
---
<p>{% trans %}Permission sets provide a way to group related permissions together.{% endtrans %}</p>
<p>{% trans %}You can search for permission sets using the following criteria:{% endtrans %}</p>
<ul>
  <li>{% trans %}Name{% endtrans %}</li>
  <li>{% trans %}Code{% endtrans %}</li>
</ul>
<p>{% trans %}You can update, duplicate, or delete permission sets found in your search.{% endtrans %}</p>

<h3>{% trans %}Hierarchy of Children{% endtrans %}</h3>
<p>{% trans %}The Hierarchy of Children subtab provides information on the child nodes in the permission set structure. A child node is either a permission or permission set. Child nodes are displayed in a hierarchy with the following information: display name, permission set name (if applicable), permission name (if applicable), and description.{% endtrans %}</p>
<h3>{% trans %}Direct Parents{% endtrans %}</h3>
<p>{% trans %}The Direct Parents subtab allows you to see the permission sets, if any, that include the current permission set. This feature is useful in identifying the direct impact of any changes that may be made to this permission set.{% endtrans %}</p>
<h3>{% trans %}Grants{% endtrans %}</h3>
<p>{% trans %}The Grants subtab displays the associated grants that secure the navigation menu.{% endtrans %}</p>
<p>{% trans %}For each associated grant, the name, grantee type, grantee, valid dates, data context type, object name, and instance set name is displayed.{% endtrans %}</p>

<h2>{% trans %}Duplicate Permission Set{% endtrans %}</h2>
<p>{% trans %}Note that you must enter a unique code for the new permission set you are creating.{% endtrans %}</p>

<h2>{% trans %}Delete Permission Set{% endtrans %}</h2>
<p>{% trans %}If a permission set is a child of another permission set, it cannot be deleted without first being removed from its parent permission set.{% endtrans %}</p>
